# Gradle
.gradle/
build/
*/build/

# Local config
local.properties

# IntelliJ / Android Studio
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# macOS
.DS_Store

# NDK / CMake
externalNativeBuild/
.cxx/

# Captures
captures/

# Logs
*.log

# Gradle Wrapper files to KEEP
!gradle-wrapper.jar

# Ignore fastlane metadata
fastlane/report.xml
fastlane/Preview.html

# Keystores (IMPORTANT: do NOT expose them!)
*.jks
*.keystore


# Resumen súper corto
 #Qué quieres saber	Comando
 #Si tu carpeta local tiene cambios	git status
 #Si estás igual que el remoto	git fetch + git status
 #Si tienes commits sin subir	git log origin/master..master
 #Si el remoto tiene commits nuevos	git log master..origin/master
 #Si archivos difieren entre local y remoto	git diff master origin/master
#
